<h1>Password Reset for Bosch Up</h1>
<p>Hi
    <%= name %>,
</p>
<p>Your temporary password is :
    <%= password %>
</p>
<p>Please
    <a href="http://portal.seam-up.com">login</a> to the application to set your password </p>

<br>
<br>
<center>
    <span style="font-size: 14px">This is an auto generated email. Please do not reply to this mail.</span>
</center>
<center>
    <span style="font-size: 12px">Email Generated @
        <%= new Date().toLocaleDateString() + ' '+new Date().toLocaleTimeString() %>
    </span>
</center>